body{
 background-color: #00BFFF;

 //background-image: url("weather.jpg");
 //background-size: cover;
}
h1{
  position: relative;
  left: 35%;
  top: 5%;
  height: 25%;
  max-height: 100%;
  max-width: 100%;
  width: 23%;
}
#city{
  position: relative;
  left: 40%;
  
}
#region{
  position: relative;
  left: 44%;
}
#temperature{
  position: relative;
  left: 45%;
  font-size: 30px;
  width: 8%;
}
#image{
  position: relative;
  left: 45.5%; 
  -webkit-animation: image 10s infinite;
  -webkit-animation-direction: alternate;
  animation: image 10s infinite;
  animation-direction: alternate;
}

#weather{
  position: relative;
  left: 43%;
  font-family: verdana;
}

@keyframes image{
  0% {left: 35%;}
  100% {left: 55%;}
}
/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch*/
.toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  top: -29px;
  left: 51%;
  
}
.toggle input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "\00b0""F";
  font-size: 12px;
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ccc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#road{
  position: relative;
  top: 120px;
  height: 300px;
  width: 100%;
  
}

#bluecar{
  position: relative;
  height: 110px;
  top: -100px;
  width: 110px;
  -webkit-animation: bluecar 30s infinite;
  -webkit-animation-direction: normal;
  animation: bluecar 30s infinite;
  animation-direction: normal;
}
@keyframes bluecar{
  0% {left: 0%;}
  3%{-webkit-transform: rotate(10deg);
     -webkit-transform: translate(35px, 35px);
     }
  5%{-webkit-transform: rotate(-30deg);
     -webkit-transform: translate(40px, 50px);
   }
  10%{
    -webkit-transform: translate(60px, 90px);
  }
  20%{
    -webkit-transform: translate(80px, 80px);
  }
  50%{
    -webkit-transform: translate(100px, 70px);
  }
  60%{
    -webkit-transform: translate(110px, 60px);
  }

  100% {left: 100%;}
}

#redcar{
  position: relative;
  height: 150px;
  top: -110px;
  width: 150px;
  left: 130px;
  transform: rotate(-90deg);
  animation: redcar 30s infinite;
  -webkit-animation: redcar 30s infinite;
}

@keyframes redcar{
  
  5%{-webkit-transform: rotate(-160deg);
  }
  8%{-webkit-transform: rotate(-160deg);
  }
  10%{
    -webkit-transform: rotate(-180deg);
  }
  12%{
    -webkit-transform: rotate(-160deg);
  }
  14%{
    -webkit-transform: rotate(-180deg);
  }
  16%{
    -webkit-transform: rotate(-160deg);
  }
  18%{
    -webkit-transform: rotate(-180deg);
  }
  20%{
    -webkit-transform: rotate(-160deg);
  }
  25%{
    -webkit-transform: rotate(-180deg);
  }
  30%{
    -webkit-transform: rotate(-160deg);
  }
  40%{
    -webkit-transform: rotate(-180deg);
  }
  50%{
    -webkit-transform: rotate(-160deg);
  }
  60%{
    -webkit-transform: rotate(-180deg);
  }
  80%{
    -webkit-transform: rotate(-160deg);
  }
  100%{
    -webkit-transform: rotate(-180deg);
  }
}